*, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

$fz-base: 18px;
$fz-lower: 14px;
$fz-lowest: 11px;

$appear-duration: 0.3s;
$line-color: #371f99b1;

.my-contacts {
  display: none;
}

body {
  background-color: #7a7a78a7;
  color: #2a0e27;
  font-family: 'Inter';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.transition {
  transition: 0.3s;
}

.main {
  margin: 3vw auto;
  max-width: 530px;
  width: 70vw;
  border-radius: 25px;
  background: linear-gradient(0deg, #bea9dd 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 0px 7px #7f79b447;
  &__container {
    padding: 25px 40px 0px 40px;
  }
}

@media(max-width: 440px) {
  .main {
    margin: 5vw auto;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.208);
    width: 85vw;
  }
  .my-name {
    padding-left: 5%;
  }
}

@media(min-width: 1766px) {
  .main {
    max-width: 600px;
  }
}

.me-head {
  display: flex;
  flex-direction: row;
  color: #000000;
}

.my-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5%;
}

.photo-expand {
  animation: photoExpand $appear-duration ease-in;
  max-width: 170px;
  max-height: 170px;
  height: 26vw;
  width: 26vw;
}

.photo-decrease {
  animation: photoDecrease $appear-duration ease-in;
  max-width: 100px;
  max-height: 100px;
  height: 13vw;
  width: 13vw;
}

.name-expand {
  animation: nameExpand $appear-duration ease-in;
  font-size: calc($fz-base + 10 * (100vw / 1800));
  font-weight: 400;
  padding-bottom: 10px;
}

.name-decrease {
  animation: nameDecrease $appear-duration ease-in;
  font-size: calc($fz-lowest + 10 * (100vw / 1800));
  font-weight: 400;
  padding-bottom: 10px;
}

.career-expand {
  animation: careerExpand $appear-duration ease-in;
  font-size: calc($fz-lower + 7 * (100vw / 1800));
  font-weight: 400;
  animation: careerAnim 8s ease-in infinite;
}

.career-decrease {
  animation: careerDecrease $appear-duration ease-in;
  font-size: calc($fz-lowest + 7 * (100vw / 1800));
  font-weight: 400;
  animation: careerAnim 8s ease-in infinite;
}

@keyframes photoExpand {
  0% {
    max-width: 100px;
    max-height: 100px;
    height: 13vw;
    width: 13vw;
  }
  100% {
    max-width: 170px;
    max-height: 170px;
    height: 26vw;
    width: 26vw;
  }
}

@keyframes photoDecrease {
  0% {
    max-width: 170px;
    max-height: 170px;
    height: 26vw;
    width: 26vw;
  }
  100% {
    max-width: 100px;
    max-height: 100px;
    height: 13vw;
    width: 13vw;
  }
}

@keyframes nameExpand {
  0% {
    font-size: calc($fz-lowest + 10 * (100vw / 1800));
    font-weight: 600;
    padding-bottom: 10px;
  }
  100% {
    font-size: calc($fz-base + 10 * (100vw / 1800));
    font-weight: 600;
    padding-bottom: 10px;
  }
}

@keyframes nameDecrease {
  0% {
    font-size: calc($fz-base + 10 * (100vw / 1800));
    font-weight: 600;
    padding-bottom: 10px;
  }
  100% {
    font-size: calc($fz-lowest + 10 * (100vw / 1800));
    font-weight: 600;
    padding-bottom: 10px;
  }
}

@keyframes careerExpand {
  0% {
    font-size: calc($fz-lowest + 7 * (100vw / 1800));
    font-weight: 600;
    animation: careerAnim 8s ease-in infinite;
  }
  100% {
    font-size: calc($fz-lower + 7 * (100vw / 1800));
    font-weight: 600;
    animation: careerAnim 8s ease-in infinite;
  }
}

@keyframes careerDecrease {
  0% {
    font-size: calc($fz-lower + 7 * (100vw / 1800));
    font-weight: 600;
    animation: careerAnim 8s ease-in infinite;
  }
  100% {
    font-size: calc($fz-lowest + 7 * (100vw / 1800));
    font-weight: 600;
    animation: careerAnim 3s ease-in infinite;
  }
}

@keyframes careerAnim {
  0% {
    text-shadow: 1px 1px 2px #924ac3;
  }
  50% {
    text-shadow: 1px 1px 2px #371f99b1;
  }
  75% {
    text-shadow: 1px 1px 2px #c36c4a;
  }
  100% {
    text-shadow: 1px 1px 2px #924ac3;
  }
}


.description {
  display: flex;
  flex-direction: column;
  padding: 40px 0 20px 0;
  gap: 10px;
  animation: Description $appear-duration ease-in;
  &__name{
    font-weight: 600;
    font-size: calc($fz-lower + 10 * (100vw / 1800));
  }
  &__body {
    font-size: calc($fz-lower + 10 * (100vw / 1800));
    font-weight: 400;
    line-height: 137%;
    letter-spacing: 0.96px;
    width: 80%;
  }
}

@keyframes Description {
  0% {
    opacity: 0;
    gap: 2px;
    padding: 8px 0;
  }
  25% {
    opacity: 0.25;
    gap: 4px;
    padding: 16px 0;
  }
  50% {
    opacity: 0.5;
    gap: 6px;
    padding: 24px 0;
  }
  75% {
    opacity: 0.75;
    gap: 8px;
    padding: 40px 0 20px 0;
  }
  100% {
    opacity: 1;
    gap: 10px;
    padding: 40px 0 20px 0;
  }
}

.icons-soc {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

@media(max-width: 550px) {
  .icons-soc {
    width: 100%;
  }
}

.description div {
  margin-bottom: 5%;
}

.icon-business {
  width: 10vw;
  height: 10vw;
  max-width: 45px;
  max-height: 45px;
}

.line {
  margin: 20px auto 0;
  width: 80%;
  height: 1px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #76467A 51.1%, rgba(118, 70, 122, 0.00) 100%);
}

.sections-menu {
  color: #76467A;
  font-size: calc($fz-lower + 10 * (100vw / 1800));
  display: flex;
}

.sections-menu div {
  padding: 20px;
  width: 33%;
  display: flex;
  justify-content: center;
}

@media(max-width: 590px) {
  .sections-menu {
    flex-direction: column;
    align-items: center;
  }
  .sections-menu div {
    width: 100%;
  }
}

.menu-hover:hover, .button-hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px 0.5px rgba(43, 13, 134, 0.374);
  border-radius: 5px;
}

.work-experience {
  animation: WorkExperience $appear-duration ease-in;
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;
  font-size: calc($fz-lower + 10 * (100vw / 1800));
}

@keyframes WorkExperience {
  0% {
    opacity: 0;
    gap: 6px;
    padding: 8px 0;
  }
  25% {
    opacity: 0.25;
    gap: 12px;
    padding: 16px 0;
  }
  50% {
    opacity: 0.5;
    gap: 18px;
    padding: 24px 0;
  }
  75% {
    opacity: 0.75;
    gap: 24px;
    padding: 32px 0;
  }
  100% {
    opacity: 1;
    gap: 30px;
    padding: 40px 0;
  }
}

.experience-name {
  font-weight: 600;
}

.experience-flex {
  display: flex;
  gap: 10%;
}

.place-description {
  font-size: calc($fz-lowest + 10 * (100vw / 1800));
}

.years {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.year {
  font-weight: 500;
}

.place-name {
  font-weight: 500;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.place__container {
  display: flex;
  gap: 20%;
  min-height: 33%;
}

.about-place {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-position {
  position: relative;
}

.svg-line-img {
  position: absolute;
  left: calc(45px + 45 * (100vw / 1800));
  height: calc(230px + 150 * (100vw / 1800));
}

@media(max-width: 670px) {
  .svg-line-img {
    height: calc(270px + 140 * (100vw / 1800));
  }
}

@media(min-width: 2070px) {
  .svg-line-img {
    left: calc(35px + 45 * (100vw / 1800));
    height: calc(270px + 140 * (100vw / 1800));
  }
}

.my-contacts {
  animation: MyContacts $appear-duration ease-in;
  padding: 40px 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc($fz-lower + 10 * (100vw / 1800));
  gap: 30px;
}

@keyframes MyContacts {
  0% {
    opacity: 0;
    gap: 6px;
    padding: 8px 0;
  }
  25% {
    opacity: 0.25;
    gap: 12px;
    padding: 16px 0;
  }
  50% {
    opacity: 0.5;
    gap: 18px;
    padding: 24px 0;
  }
  75% {
    opacity: 0.75;
    gap: 24px;
    padding: 32px 0;
  }
  100% {
    opacity: 1;
    gap: 30px;
    padding: 40px 0;
  }
}

.button-request {
  display: block;
  text-decoration: none;
  color: #161017cb;
  border-radius: 25px;
  padding: 8px 18px;
  background-color: #695edfd7;
  text-align: center;
  box-shadow: 2px 2px 4px 1px #00000041;
  font-weight: 500;
  width: 100%;
}

.button-request:hover {
  background-color: #5548e6d1;
  color: #553258;
}

.contacts-name {
  font-weight: 600;
}

.contacts-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__elem {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

@media(max-width: 590px) {
  .contacts-body {
    &__elem {
      flex-direction: column;
    }
  }
  .my-contacts {
    justify-content: center;
    align-items: center;
  }
}

#line-start {
  position: relative;
}

#line-start::after {
  content: "";
}

#line-start::after {
  position: absolute;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to bottom, $line-color, #c96dd700);
  left: 90px;
}

@media(min-width: 1820px) {
  #line-start::after {
    left: 110px;
  }
}

@media(max-width: 705px) {
  #line-start::after {
    left: 70px;
  }
}

@media(max-width: 400px) {
  #line-start::after {
    left: 60px;
  }
}

.year::after {
  content: '';
}

.year::after {
  z-index: 1;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background-color: #483694;
  left: 83px;
  animation: yearsPoints ease-in 3s infinite;
}

@keyframes yearsPoints {
  0% {
    box-shadow: 0px 0px 3px 1px $line-color;
  }
  50% {
    box-shadow: 0px 0px 3px 4px #1f8399b1;
  }
  100% {
    box-shadow: 0px 0px 3px 1px $line-color;
  }
}

@media(min-width: 1820px) {
  .year::after {
    left: 103px;
  }
}

@media(max-width: 705px) {
  .year::after {
    left: 63px;
  }
}

@media(max-width: 400px) {
  .year::after {
    left: 53px;
  }
}

