*, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.my-contacts {
  display: none;
}

body {
  background-color: #76467A;
  color: #2a0e27;
  font-family: "Inter";
  background-image: url("./img/background_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.transition {
  transition: 0.3s;
}

.main {
  margin: 3vw auto;
  max-width: 530px;
  width: 70vw;
  border-radius: 25px;
  background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.208);
}
.main__container {
  padding: 25px 40px 0px 40px;
}

@media (max-width: 440px) {
  .main {
    margin: 5vw auto;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.208);
    width: 85vw;
  }
  .my-name {
    padding-left: 5%;
  }
}
@media (min-width: 1766px) {
  .main {
    max-width: 600px;
  }
}
.me-head {
  display: flex;
  flex-direction: row;
  color: #d0cddf;
}

.my-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5%;
}

.photo-expand {
  animation: photoExpand 0.3s ease-in;
  max-width: 170px;
  max-height: 170px;
  height: 26vw;
  width: 26vw;
}

.photo-decrease {
  animation: photoDecrease 0.3s ease-in;
  max-width: 100px;
  max-height: 100px;
  height: 13vw;
  width: 13vw;
}

.name-expand {
  animation: nameExpand 0.3s ease-in;
  font-size: calc(18px + 0.5555555556vw);
  font-weight: 600;
  padding-bottom: 10px;
}

.name-decrease {
  animation: nameDecrease 0.3s ease-in;
  font-size: calc(11px + 0.5555555556vw);
  font-weight: 600;
  padding-bottom: 10px;
}

.career-expand {
  animation: careerExpand 0.3s ease-in;
  font-size: calc(14px + 0.3888888889vw);
  font-weight: 600;
  animation: careerAnim 8s ease-in infinite;
}

.career-decrease {
  animation: careerDecrease 0.3s ease-in;
  font-size: calc(11px + 0.3888888889vw);
  font-weight: 600;
  animation: careerAnim 8s ease-in infinite;
}

@keyframes photoExpand {
  0% {
    max-width: 100px;
    max-height: 100px;
    height: 13vw;
    width: 13vw;
  }
  100% {
    max-width: 170px;
    max-height: 170px;
    height: 26vw;
    width: 26vw;
  }
}
@keyframes photoDecrease {
  0% {
    max-width: 170px;
    max-height: 170px;
    height: 26vw;
    width: 26vw;
  }
  100% {
    max-width: 100px;
    max-height: 100px;
    height: 13vw;
    width: 13vw;
  }
}
@keyframes nameExpand {
  0% {
    font-size: calc(11px + 0.5555555556vw);
    font-weight: 600;
    padding-bottom: 10px;
  }
  100% {
    font-size: calc(18px + 0.5555555556vw);
    font-weight: 600;
    padding-bottom: 10px;
  }
}
@keyframes nameDecrease {
  0% {
    font-size: calc(18px + 0.5555555556vw);
    font-weight: 600;
    padding-bottom: 10px;
  }
  100% {
    font-size: calc(11px + 0.5555555556vw);
    font-weight: 600;
    padding-bottom: 10px;
  }
}
@keyframes careerExpand {
  0% {
    font-size: calc(11px + 0.3888888889vw);
    font-weight: 600;
    animation: careerAnim 8s ease-in infinite;
  }
  100% {
    font-size: calc(14px + 0.3888888889vw);
    font-weight: 600;
    animation: careerAnim 8s ease-in infinite;
  }
}
@keyframes careerDecrease {
  0% {
    font-size: calc(14px + 0.3888888889vw);
    font-weight: 600;
    animation: careerAnim 8s ease-in infinite;
  }
  100% {
    font-size: calc(11px + 0.3888888889vw);
    font-weight: 600;
    animation: careerAnim 8s ease-in infinite;
  }
}
@keyframes careerAnim {
  0% {
    text-shadow: 2px 2px 4px rgba(178, 62, 20, 0.9450980392);
  }
  25% {
    text-shadow: 2px 2px 4px rgba(189, 207, 53, 0.9137254902);
  }
  50% {
    text-shadow: 2px 2px 4px rgba(36, 86, 212, 0.9058823529);
  }
  100% {
    text-shadow: 2px 2px 4px rgba(180, 78, 38, 0.9137254902);
  }
}
.description {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 10px;
  animation: Description 0.3s ease-in;
}
.description__name {
  font-weight: 600;
  font-size: calc(14px + 0.5555555556vw);
}
.description__body {
  font-size: calc(14px + 0.5555555556vw);
  font-weight: 400;
  line-height: 137%;
  letter-spacing: 0.96px;
  width: 80%;
}

@keyframes Description {
  0% {
    opacity: 0;
    gap: 2px;
    padding: 8px 0;
  }
  25% {
    opacity: 0.25;
    gap: 4px;
    padding: 16px 0;
  }
  50% {
    opacity: 0.5;
    gap: 6px;
    padding: 24px 0;
  }
  75% {
    opacity: 0.75;
    gap: 8px;
    padding: 32px 0;
  }
  100% {
    opacity: 1;
    gap: 10px;
    padding: 40px 0;
  }
}
.icons-soc {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .icons-soc {
    width: 100%;
  }
}
.description div {
  margin-bottom: 5%;
}

.icon-business {
  width: 10vw;
  height: 10vw;
  max-width: 45px;
  max-height: 45px;
}

.line {
  margin: 20px auto 0;
  width: 80%;
  height: 1px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #76467A 51.1%, rgba(118, 70, 122, 0) 100%);
}

.sections-menu {
  color: #76467A;
  font-size: calc(14px + 0.5555555556vw);
  display: flex;
}

.sections-menu div {
  padding: 20px;
  width: 33%;
  display: flex;
  justify-content: center;
}

@media (max-width: 590px) {
  .sections-menu {
    flex-direction: column;
    align-items: center;
  }
  .sections-menu div {
    width: 100%;
  }
}
.menu-hover:hover, .button-hover {
  cursor: pointer;
  box-shadow: 1px -1px 7px 0.5px rgba(120, 13, 134, 0.374);
  border-radius: 5px;
}

.work-experience {
  animation: WorkExperience 0.3s ease-in;
  display: none;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;
  font-size: calc(14px + 0.5555555556vw);
}

@keyframes WorkExperience {
  0% {
    opacity: 0;
    gap: 6px;
    padding: 8px 0;
  }
  25% {
    opacity: 0.25;
    gap: 12px;
    padding: 16px 0;
  }
  50% {
    opacity: 0.5;
    gap: 18px;
    padding: 24px 0;
  }
  75% {
    opacity: 0.75;
    gap: 24px;
    padding: 32px 0;
  }
  100% {
    opacity: 1;
    gap: 30px;
    padding: 40px 0;
  }
}
.experience-name {
  font-weight: 600;
}

.experience-flex {
  display: flex;
  gap: 10%;
}

.place-description {
  font-size: calc(11px + 0.5555555556vw);
}

.years {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.year {
  font-weight: 500;
}

.place-name {
  font-weight: 500;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.place__container {
  display: flex;
  gap: 20%;
  min-height: 33%;
}

.about-place {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-position {
  position: relative;
}

.svg-line-img {
  position: absolute;
  left: calc(45px + 2.5vw);
  height: calc(230px + 8.3333333333vw);
}

@media (max-width: 670px) {
  .svg-line-img {
    height: calc(270px + 7.7777777778vw);
  }
}
@media (min-width: 2070px) {
  .svg-line-img {
    left: calc(35px + 2.5vw);
    height: calc(270px + 7.7777777778vw);
  }
}
.my-contacts {
  animation: MyContacts 0.3s ease-in;
  padding: 40px 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(14px + 0.5555555556vw);
  gap: 30px;
}

@keyframes MyContacts {
  0% {
    opacity: 0;
    gap: 6px;
    padding: 8px 0;
  }
  25% {
    opacity: 0.25;
    gap: 12px;
    padding: 16px 0;
  }
  50% {
    opacity: 0.5;
    gap: 18px;
    padding: 24px 0;
  }
  75% {
    opacity: 0.75;
    gap: 24px;
    padding: 32px 0;
  }
  100% {
    opacity: 1;
    gap: 30px;
    padding: 40px 0;
  }
}
.button-request {
  display: block;
  text-decoration: none;
  color: rgba(22, 16, 23, 0.7960784314);
  border-radius: 25px;
  padding: 8px 18px;
  background-color: #C190E1;
  text-align: center;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2549019608);
  font-weight: 500;
  width: 100%;
}

.button-request:hover {
  background-color: #924ac3;
  color: #553258;
}

.contacts-name {
  font-weight: 600;
}

.contacts-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-body__elem {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 590px) {
  .contacts-body__elem {
    flex-direction: column;
  }
  .my-contacts {
    justify-content: center;
    align-items: center;
  }
}
#line-start {
  position: relative;
}

#line-start::after {
  content: "";
}

#line-start::after {
  position: absolute;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(55, 31, 153, 0.6941176471), rgba(201, 109, 215, 0));
  left: 90px;
}

@media (min-width: 1820px) {
  #line-start::after {
    left: 110px;
  }
}
@media (max-width: 705px) {
  #line-start::after {
    left: 70px;
  }
}
@media (max-width: 400px) {
  #line-start::after {
    left: 60px;
  }
}
.year::after {
  content: "";
}

.year::after {
  z-index: 1;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background-color: #483694;
  left: 83px;
  animation: yearsPoints ease-in 3s infinite;
}

@keyframes yearsPoints {
  0% {
    box-shadow: 0px 0px 3px 1px rgba(55, 31, 153, 0.6941176471);
  }
  50% {
    box-shadow: 0px 0px 3px 4px rgba(31, 131, 153, 0.6941176471);
  }
  100% {
    box-shadow: 0px 0px 3px 1px rgba(55, 31, 153, 0.6941176471);
  }
}
@media (min-width: 1820px) {
  .year::after {
    left: 103px;
  }
}
@media (max-width: 705px) {
  .year::after {
    left: 63px;
  }
}
@media (max-width: 400px) {
  .year::after {
    left: 53px;
  }
}